<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <hr>
    <p>
      <%= @message %>
    </p>

    <p>From: <%= @name %></p>
    <p>Email: <%= @email %></p>
    <hr>
  </body>
</html>
