/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "colors";
@import "mixins";
@import "form";

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: url('Mac21.jpg') no-repeat center center fixed;
  background-size: cover;
}

.navbar {
  background: white;
  // opacity: 0.2;
  
}
