@import 'colors';

.donation-form {

  label {
    position: relative;
    margin-bottom: 10px;

    &:after {
      content: '';
      width: 150px;
      height: 1px;
      background: $header-line;
      position: absolute;
      bottom: -4px;
      left: 0;
    }
  }

  .top > .form-group {
    float: left;
    width: 33%;
    padding: 5%;
  }

  .bottom {
    width: 100%;
    padding: 5%;
  }

  .top > .form-group, .bottom {
    @media (max-width: $break-point) {
      width: 100%;
      padding: 5% 10%;
    }
  }
}
