@import 'colors';

.songs {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: $clear;
  border-radius: 4px;

  .page-header {
    border-bottom: solid 1px gray;
  }
  .page-header span a {
    border: none;
    font-weight: bold;
    background-color: #428BFF;
    color: white;

    &:hover {
      background-color: white;
      color: gray;
    }
  }

  .table {

    tbody > tr > td {
      vertical-align: middle;
    }

    tr td span {
      font-size: 1.6em;
    }

    tr td .words {
      font-size: 14px;
    }
  }
}
