@import 'colors';

.songs {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: $clear;
  border-radius: 4px;

  // .album-header {
  //   .album-art, h1 {
  //     float: left;
  //     // clear: left;
  //   }
  // }

  .table {

    tbody > tr > td {
      vertical-align: middle;
    }

    tr td span {
      font-size: 1.6em;
    }
  }
}
