<section class="admin">

<hr>
<%= link_to "Donations", admin_donations_path, remote: true %>
<%= link_to "Songs", admin_songs_path, remote: true %>
<hr>

<div class="downloads">
</div>

<div class="donations">
</div>

</section>
